.coin img{
        height: 50px;
        width: 50px;     
}
.coin{
    display: flex;
}

.coin_header{
    display: flex;
    align-items: center;
} 
.coin_info{
    display: table-cell;
}
.coin_header > * {
    padding: 10px;
}
.coin_text{
    text-transform: uppercase;
}
.red {
    color: red;
}
.green {
    color:green;
}
